<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rrrfffrrr.unity.mediapipe.handtracking">
    <uses-feature android:glEsVersion="0x00030001" android:required="true" />
    <uses-feature android:glEsVersion="0x00030002" android:required="false" />
</manifest>